#bloc {
	background-color: #c7c7c7;
	width: 50vw;
	height: 35vh;
	margin: auto;
	margin-top: 13%;
}

.line {
	display: inline;
	align: center;
}

.line2 {
	display: inline-block;
}

h1 {
	text-align: center;
	font-family: open Sans;
	font-size: 3.5	vh;
}