html, body {
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, serif;
}

header{
	background-color: #E77814;
	margin-left: 6vw;
	height: 10vh;
}
.container {
   margin-bottom: 80px;
   background-color: #E77814;
}

#menu
{

}

#task_list {

}
